flows.json
[{"id":"28be47d6.ff5ac8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"69c0f5ef.e813dc","type":"ui_gauge","z":"28be47d6.ff5ac8","name":"","group":"74b86d21.d57954","order":2,"width":0,"height":0,"gtype":"gage","title":"Gauge Brightness","label":"units","format":"{{value}}","min":0,"max":"600","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":470,"y":280,"wires":[]},{"id":"aadf2263.3b44e","type":"mqtt in","z":"28be47d6.ff5ac8","name":"","topic":"nodemcu/ldr","qos":"2","datatype":"auto","broker":"7f2fac59.44fc14","x":210,"y":360,"wires":[["69c0f5ef.e813dc","365fd277.e8394e"]]},{"id":"95e22859.4215a8","type":"debug","z":"28be47d6.ff5ac8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":870,"y":360,"wires":[]},{"id":"46389b28.6a47a4","type":"ui_toast","z":"28be47d6.ff5ac8","position":"top right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"threshold","x":720,"y":320,"wires":[]},{"id":"365fd277.e8394e","type":"switch","z":"28be47d6.ff5ac8","name":"condition","property":"payload","propertyType":"msg","rules":[{"t":"lte","v":"150","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":440,"y":380,"wires":[["95e22859.4215a8","46389b28.6a47a4","6a4da17b.74745"]]},{"id":"ee04ecac.9361","type":"mqtt in","z":"28be47d6.ff5ac8","name":"","topic":"nodemcu/dht","qos":"2","datatype":"auto","broker":"7f2fac59.44fc14","x":190,"y":540,"wires":[["882a8bb2.9b5318","9694c2ab.b4f59","57824525.94c70c"]]},{"id":"ee52c17a.aa06","type":"ui_gauge","z":"28be47d6.ff5ac8","name":"","group":"801cfa8c.c7e118","order":2,"width":0,"height":0,"gtype":"gage","title":"Humidity","label":"units","format":"{{value}}","min":0,"max":"600","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":800,"y":660,"wires":[]},{"id":"bf2696b4.4bd8c8","type":"ui_chart","z":"28be47d6.ff5ac8","name":"","group":"801cfa8c.c7e118","order":3,"width":0,"height":0,"label":"Temperature","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":810,"y":720,"wires":[[]]},{"id":"882a8bb2.9b5318","type":"function","z":"28be47d6.ff5ac8","name":"getTemp","func":"\nobj= JSON.parse(msg.payload);\nmsg.payload= obj.temp;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":480,"y":720,"wires":[["bf2696b4.4bd8c8"]]},{"id":"9694c2ab.b4f59","type":"function","z":"28be47d6.ff5ac8","name":"saveTempHumidity","func":"obj= JSON.parse(msg.payload);\nlet val= obj.humidity;\nlet val2= obj.temp;\nmsg.topic =`create table if not exists dht(temp double(4,2),\nhumidity varchar(50),created_at DATETIME);\ninsert into dht values (${val2},${val},CURRENT_TIMESTAMP())`;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":510,"y":580,"wires":[["e4f7b078.94932"]]},{"id":"389ead0c.49cd02","type":"mysql","z":"28be47d6.ff5ac8","mydb":"bd0dd3c7.e5f77","name":"database","x":680,"y":440,"wires":[["95e22859.4215a8","675ba899.02ac18"]]},{"id":"6a4da17b.74745","type":"function","z":"28be47d6.ff5ac8","name":"saveLDR","func":"let val= msg.payload;\nmsg.topic =`create table if not exists ldr(brightness varchar(20),\ncreated_at DATETIME);\ninsert into ldr values (${val},CURRENT_TIMESTAMP())`;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":500,"y":460,"wires":[["389ead0c.49cd02"]]},{"id":"e4f7b078.94932","type":"mysql","z":"28be47d6.ff5ac8","mydb":"bd0dd3c7.e5f77","name":"database","x":700,"y":560,"wires":[["150c5fc6.3c369"]]},{"id":"150c5fc6.3c369","type":"debug","z":"28be47d6.ff5ac8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":870,"y":600,"wires":[]},{"id":"57824525.94c70c","type":"function","z":"28be47d6.ff5ac8","name":"getHumiity","func":"\nobj= JSON.parse(msg.payload);\nmsg.payload= obj.humidity;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":490,"y":660,"wires":[["ee52c17a.aa06"]]},{"id":"675ba899.02ac18","type":"function","z":"28be47d6.ff5ac8","name":"getCount","func":"msg.topic =`select count(*) from ldr`;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":800,"y":500,"wires":[["966bf8f2.94c458"]]},{"id":"a378dd8a.0f09e","type":"ui_text","z":"28be47d6.ff5ac8","group":"74b86d21.d57954","order":1,"width":"6","height":"4","name":"","label":"Notification count","format":"{{msg.payload}}","layout":"row-spread","x":1050,"y":540,"wires":[]},{"id":"966bf8f2.94c458","type":"mysql","z":"28be47d6.ff5ac8","mydb":"bd0dd3c7.e5f77","name":"database","x":940,"y":440,"wires":[["a378dd8a.0f09e"]]},{"id":"74b86d21.d57954","type":"ui_group","name":"LDR Data","tab":"bf10da5e.94c998","order":1,"disp":true,"width":"6","collapse":false},{"id":"7f2fac59.44fc14","type":"mqtt-broker","name":"My broker","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"801cfa8c.c7e118","type":"ui_group","name":"Temprature data","tab":"bf10da5e.94c998","order":3,"disp":true,"width":"6","collapse":false},{"id":"bd0dd3c7.e5f77","type":"MySQLdatabase","name":"","host":"192.168.0.196","port":"3306","db":"new","tz":"","charset":"UTF8"},{"id":"bf10da5e.94c998","type":"ui_tab","name":"Nodemcu","icon":"dashboard","disabled":false,"hidden":false}]